*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*set background image static*/
body{
    background-image: url(images/Image\ 2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

header {
    width: 100%;
    height: 25vh;

}
/*Full name top of page large and underlined*/
header h1{
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3px;
    font-family: math;
    

}

nav{
    width: 100%;
    text-align: center;
}

nav ul{
    background-color: rgb(0, 0, 0);
    width: 100%;

}
/*nav bar under header set in a row with border*/
nav ul li{
    color: white;
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    font-size: 150%;
}
/*About section header and font styling*/
.About h2{
    color: white;
    letter-spacing: 3px;
    font-size: 75px;
    text-align: center;
    text-decoration: underline;
}
/*container for profile picture and text*/
.Container {
    display: flex;
    align-items: center;
    justify-content: center
}
/*profile picture dimensions*/
.Mypic img{
    margin: 10px;
    padding: 20px;
    width: 600px;
    background-color: #cdcdcd;
}
/*set up paragraph to be positioned to the right of profile picture*/
.text h1{
    letter-spacing: 3px;
    color: whitesmoke;
    display: flex;
    padding-right: 20%;
    font-size: 30px;
    padding-left: 10%;
}
/*images displayed in a row side by side*/
.Images{
    display: flex;
    flex-direction: row;
}
/*Projects heading border box*/
.Projects h3{
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-size: 75px;
    margin: 50px;
    border: 8px;
    border-style: solid;
    border-color: whitesmoke;
    letter-spacing: 3px;
}
/*styled project link with a border*/
#Horiseon img{
border: 10px solid;
padding: 3px;
margin: 5px;
border-color: purple;

}
/*label for Horiseon project*/
.Link1{
    color: red;
    position: absolute;
    font-size: 75px;
    margin: 15px;
    padding: 20px;
    background-color: black;


}
/*label for custom arcade project*/
.Link2{
    font-size: 50px;
    position: relative;
    left: -472px;
    bottom: -15px;
    background-color: purple;
    position: relative;
    height: min-content;
    padding: 10px;
}
/*arcade project image dimensions*/
#Arcade img{
border: 10px solid;
padding: 3px;
margin: 5px;
border-color: rgb(112, 5, 5);

}
/*contact info bar*/
.info{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-size: 30px;
    margin: 10px;
}



